<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CRUD ENTREVISTA</title>
    <style>
        /* Estilo para el texto dentro del enlace */
        .navbar-brand {
          color: white; /* Cambia el color del texto a blanco */
        }
      </style>
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
  </head>
  <body>
   

    <nav class="navbar narvar-dark bg-dark">
        <a href="/" class="navbar-brand">CRUD ENTREVISTA</a>
    </nav>
